.collapsedLogo,
.uncollapsedLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.collapsedLogo {
    height: 30px;
    margin-bottom: 40px;
}

.uncollapsedLogo {
    height: 55px;
    margin-bottom: 15px;
}
